[alias]
        st = status
        ci = commit
        br = branch
        co = checkout
        df = diff
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        g = "!f() { gitg . $1; }; f"
	d = difftool
[core]
	editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[color]
        diff = auto
[user]
	name = Stanislav Savulchik
	email = s.savulchik@gmail.com
